@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #FFFCBC, #F5CB3C);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5f4e17a2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F57E0E;
    text-align: center;
    text-shadow: 1px 1px 2px #643408b0;
}
h2 {
    color: #023059;
}
p {
    text-align: justify;
}
